<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TalentMom | Mi primera publicación</title>
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <div class="container-fluid"> <!-- inicia container -->
    <h2>  Muro </h2>
    <div class="form-group"> <!-- inicia formulario -->
      <label for="exampleInputEmail1">Escribe un post</label>
      <textarea id="myTextarea" class="form-control" placeholder="escribe un mensaje para publicar" rows="3"> </textarea>
    </div>
    <button id="btnPost" class="btn btn-primary" type="button">Publicar</button>
  </form>
  <hr>
  <div class="jumbotron jumbotron-fluid">
    <div  id="post" class="container">
    </div>
  </div>
</div>

<script src="../js/post.js"> </script>

</body>

</html>
